body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-text-color);
    letter-spacing: 0.04em;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

@media screen and (min-width:320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}