<section class="advantages">
    <div class="container container-advantages">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <div class="advantages-list__icon advantages-list__icon_cow"></div>
                <p class="advantages-list__text">721</p>
                <p class="advantages-list__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__icon advantages-list__icon_weight"></div>
                <p class="advantages-list__text">16kg</p>
                <p class="advantages-list__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__icon advantages-list__icon_ice-cream"></div>
                <p class="advantages-list__text advantages-list__text_indent">84</p>
                <p class="advantages-list__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>