<div id="myModal" class="modal">
    <div class="products-modal">
        <button type="button" class="modal-btn-close button close" width="20" height="20">
            <svg class="modal-btn-close__icon" width="20" height="20">
                <use href="./images/sprite.svg#btn-close-modal"></use>
            </svg>
        </button>
        <h2 class="modal__title">Chocolade icecream</h2>
        <div class="products-modal__image"></div>
        <ul class="products-modal__list">
            <li class="products-modal__link">
                <p class="products-modal__maintext">320</p>
                <p class="products-modal__text">kcal</p>
            </li>
            <li class="products-modal__link">
                <p class="products-modal__maintext">4g</p>
                <p class="products-modal__text">Protein..</p>
            </li>
            <li class="products-modal__link">
                <p class="products-modal__maintext">8,2g</p>
                <p class="products-modal__text">Fats</p>
            </li>
            <li class="products-modal__link">
                <p class="products-modal__maintext">40,4g</p>
                <p class="products-modal__text">Carbs</p>
            </li>
        </ul>
        <h3 class="products-modal__subtitle">Ingredients</h3>
        <ul class="products-modal__ingredients">
        <li class="products-modal__links">
            <p class="products-modal__word">Milk</p>
            <p class="products-modal__word">100ml</p>
        </li>
        <li class="products-modal__links">
            <p class="products-modal__word">Belgian Chocolate</p>
            <p class="products-modal__word">20g</p>
        </li>
        <li class="products-modal__links">
            <p class="products-modal__word">Cream</p>
            <p class="products-modal__word">150 ml</p>
        </li>
        <li class="products-modal__links">
            <p class="products-modal__word">Cocoa powder</p>
            <p class="products-modal__word">30g</p>
        </li>
        <li class="products-modal__links">
            <p class="products-modal__word">Sugar</p>
            <p class="products-modal__word">40g</p>
        </li>
        <li class="products-modal__links">
            <p class="products-modal__word">Vanilla sugar</p>
            <p class="products-modal__word">10g</p>
        </li></ul>
        <form class="products-modal-form" action="">
            <input class="products-modal-form__input" type="text" name="name" placeholder="Name" required
                pattern="[a-zA-Zа-яА-ЯіІїЇ`]+">
            <input class="products-modal-form__input" type="tel" name="phone" placeholder="Phone" required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">
            <textarea class="products-modal-form__textarea" name="comment" placeholder="Comment"></textarea>
        </form>
        <button type="submit" class="products-modal-form__btn">Submit</button>
    </div>
</div>