<!-- <div class="genaral-backdrop is-hidden" general-modal>
    <div class="general-modal">
        <button type="button" class="modal-btn-close button">
            <svg class="modal-btn-close__icon">
                <use href="./images/sprite.svg#btn-close-modal"></use>
            </svg>
        </button>
        <p class="general-modal__title">Buy now</p>
        <ul>
            <li>
                <p class="general-modal__text">ice cream</p>
            </li>
            <li>
                <p class="general-modal__text">ice coffee</p>
            </li>
            <li>
                <p class="general-modal__text">milkshake</p>
            </li>
        </ul>
        <form class="general-modal-form">
            <input type="text">
            <input type="text">
            <textarea name="" id=""></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div> -->
