<div class="franchise-backdrop is-hidden" franchise-modal>
    <div class="franchise-modal">
        <button type="button" class="modal-btn-close button" franchise-modal-close>
            <svg class="modal-btn-close__icon">
                <use href="./images/sprite.svg#btn-close-modal"></use>
            </svg>
        </button>
        <p class="franchise-modal__title">
            Thank you for your interest in owning an Ice Cream shop
        </p>
        <p class="franchise-modal__text">Due to the overwhelming volume of franchise requests we are not accepting new
            franchisee
            applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="franchise-modal-form" action="">
            <input class="franchise-modal-form__input" type="text" name="name" placeholder="Name" required
                pattern="[a-zA-Zа-яА-ЯіІїЇ`]+">
            <input class="franchise-modal-form__input" type="tel" name="phone" placeholder="Phone" required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">
            <input class="franchise-modal-form__input" type="email" name="mail" placeholder="Email" required>
            <textarea class="franchise-modal-form__textarea" name="comment" placeholder="Comment"></textarea>
            <button type="submit" class="franchise-modal-form__btn">Submit</button>
        </form>
    </div>
</div>