<header>
    <a href="./" class="header-logo a">
        <svg width="60px" height="55px"><use href="/src/images/sprite.svg#icon-ice-logo"></use></svg>
    </a>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-link link a">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link link">How it’s made?</a></li>
            <li class="nav-item"><a href="" class="nav-link link">Our products</a></li>
            <li class="nav-item"><a href="" class="nav-link link">Contact</a></li>
        </ul>
    </nav>
    <button class="header-btn">Buy now<svg width="12px" height="12px"><use></use></svg></button>
</header>
<section class="section hero-section">
    <div class="container">
        <h1 class="hero-title">ice cream <br>made with <br>passion</h1>
        <button class="hero-products-btn">Products</button>
        <a href="" class="how-made link">How it’s made?</a>
    </div>

    <div class="plate-wrap">
        <div class="plate-img">
            <img src="/src/images/hero/plate-desktop.png" alt="plate with ice-cream">
        </div>
        <div class="plate-text-wrap">
            <p class="plate-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <svg width="40px" height="16px"><use href="/src/images/sprite.svg#icon-arrow-default"></use></svg>
        </div>
    </div>

    <div class="info-hero-wrap">
        <ul class="info-hero-list">
            <li class="info-hero-item">
                <p>16</p><span>cafes</span>
            </li>
            <li class="info-hero-item">
                <p>23</p><span>food trucks</span>
            </li>
        </ul>
    </div>
    <img src="/src/images/hero/ice-cream-desktop.png" alt="big ice-cream">
</section>