<div class="readmore-modal-backdrop is-hidden">
  <div class="readmore-modal">
    <button type="button" class="readmore-modal__btn-close">
      <svg class="read-modal__btn-icon">
        <use href="./images/sprite.svg#btn-close-modal"></use>
      </svg>
    </button>
    <h2 class="readmore-modal__title">How it’s made?</h2>
    <div class="readmore-modal__video-box">
      <svg class="readmore-modal__play-icon">
        <use href="./images/sprite.svg#play-icon"></use>
      </svg>
    </div>
    <p class="readmore-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
